*:before, *:after, * {
	box-sizing: border-box;
}

body {
	display: grid;
	grid-template-areas: "head head"
											 "main main"
											 "foot foot";
	grid-gap: 2rem;
	margin: 0;
	padding: 0;
	background-color: #edeadb;
}

header {
	grid-area: head;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
	padding: 0 2rem;
	background-color: #2F190E;
}

header h1,
header h2 {
	color: #edeadb;
}

header h1 {
	margin-right: auto;
}

main {
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 1fr;
	grid-gap: 1rem;
	padding: 1rem;
	color: #2F190E;
}

section.clip {
	border: 4px solid #2F190E;
	background-color: #becd94;
	padding: 1rem;
}

footer {
	grid-area: foot;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 6rem;
	margin: 0;
	padding: 0 30%;
	background-color: #2F190E;
}

.social-icon {
	height: 3rem;
	width: 3rem;}

.social-icon:focus {
	fill: #becd94;
	outline: 2px solid #becd94;
}

#twitter-icon, 
#github-icon {
	height: 100%;
	width: 100%;
}

#twitter-path,
#github-path {
	fill: #edeadb;
}

#github-path {
	transform: translate(0.5rem, 0.5rem);
}

#twitter-path {
	transform: translate(1rem, 1rem);
}



