*:before, *:after, * {
	box-sizing: border-box;
}

body {
	display: grid;
	grid-template-areas: "head head"
											 "side main"
											 "foot foot";
	grid-gap: 2rem;
	margin: 0;
	padding: 0;
	background-color: indianred;
}

header {
	grid-area: head;
	margin: 0;
	min-height: 1rem;
	background-color: black;
}

aside {
	grid-area: side;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
}

.social-icon:focus {
	outline: 2px solid yellow;
}

#twitter-icon, 
#github-icon {
	height: 3em;
	width: 3em;
}

#twitter-path,
#github-path {
	height: 100%;
	width: 100%;
	fill: yellow;
}

main {
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1rem;
}

section.clip {
	
	border: 4px solid black;
}

footer {
	grid-area: foot;
	margin: 0;
	min-height: 1rem;
	background-color: black;
}



