*:before, *:after, * {
	box-sizing: border-box;
}

body {
	display: grid;
	grid-template-areas: "head head"
											 "side main"
											 "foot foot";
	grid-gap: 2rem;
	margin: 0;
	padding: 0;
	background-color: indianred;
}

header {
	grid-area: head;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 0;
	padding: 0 2rem;
	background-color: black;
}

header h1,
header h2 {
	color: #a5cc5c;
}

header h1 {
	margin-right: auto;
}

aside {
	grid-area: side;
}

.social-icon:focus {
	fill: #a5cc5c;
	outline: 2px solid #a5cc5c;
}

#twitter-icon, 
#github-icon {
	height: 3em;
	width: 3em;
}

#twitter-path,
#github-path {
	height: 100%;
	width: 100%;
	fill: #a5cc5c;
}

main {
	grid-area: main;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 1fr;
	grid-gap: 1rem;
	padding: 1rem;
}

section.clip {
	border: 4px solid black;
	background-color: #a5cc5c;
	padding: 1rem;
}

footer {
	grid-area: foot;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0 2rem;
	background-color: black;
}



